:root {
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  max-width: 144rem;
  margin: 0 auto;
  gap: 8.6rem;
}

nav {
  flex: 40%;
  background: url("/public/images/bg-main-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.front-card {
  background: url("/public/images/bg-card-front.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 44.7rem;
  height: 24.5rem;
}

.back-card {
  background: url("/public/images/bg-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 44.7rem;
  height: 24.5rem;
}

main {
  flex: 60%;
  margin: auto 10rem;
  padding: 7.8rem;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  gap: 2rem;
}

.form-section {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--very-dark-violet);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

input {
  height: 4rem;
  border-radius: 10px;
  border: 0.5px solid var(--light-grayish-violet);
  padding: 0.5rem 1rem;
}

input:focus {
  border: 1px solid linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
}

input.error {
  border: 1px solid hsl(0, 100%, 66%);
}

.card-exp {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 1rem;
}

.exp-month {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.exp-month span {
  display: flex;
  gap: 1rem;
}

.exp-month span input {
  height: 4rem;
  width: 8rem;
}

.cvc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cvc input {
  height: 4rem;
}

button {
  background: var(--very-dark-violet);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  text-transform: capitalize;
}
